{% extends 'base.html.twig' %}

{% block title %}Conduite Vauclinoise{% endblock %}

 {% block stylesheets %}
     <link rel="stylesheet" type="text/css" href={{ asset('css/navbar.css') }}>
     <link rel="stylesheet" type="text/css" href={{ asset('css/home.css') }}>
     <link rel="stylesheet" type="text/css" href={{ asset('css/footer.css') }}>
     <meta name="viewport" content="width=device-width, initial-scale=1">
 {% endblock %}

{% block body %}
    <!--Body-->
    <div id="model-car" class="container-fluid" style="margin: 40px">
        <div class="row">
            <div class="col-sm">
                <div class="card" style="width: 95%">
                    <img class="card-img-top" src={{ asset('img/panamera.jpg') }} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Panamera</h5>
                        <p class="card-text">799 €

                            Inscrivez-vous dès 17 ans ½ en formation classique et passez votre permis de conduire pour plus d’indépendance.</p>
                        <a href="#" class="btn btn-primary">Je me fais plaisir</a>
                    </div>
                </div>
            </div>
            <div class="col-sm" style="width: 95%">
                <div class="card" style="width: 95%;">
                    <img class="card-img-top" src={{ asset('img/911.jpg') }} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">911</h5>
                        <p class="card-text">1300 €

                            Inscrivez-vous dès 18 ans ½ en formation classique et passez votre permis de conduire pour plus d’indépendance.</p>
                        <a href="#" class="btn btn-primary">Je paie 1300 letgo</a>
                    </div>
                </div>
            </div>
            <div class="col-sm" style="width: 95%">
                <div class="card" style="width: 95%;">
                    <img class="card-img-top" src={{ asset('img/targa-2.jpg') }} alt="Card image cap">
                    <div class="card-body">
                        <h5 class="card-title">Targa 4S</h5>
                        <p class="card-text"> 2500€ Inscrivez-vous dès 18 ans ½ en formation classique et passez votre permis de conduire pour plus d’indépendance.</p>
                        <a href="#" class="btn btn-primary">Je veux le monde ou rien chico letgo</a>
                    </div>
                </div>
            </div>
        </div>
    </div>




    {% block javascripts %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    {% endblock %}


{% endblock %}



